APP_ENV=
APP_KEY=
APP_URL=
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# DynanmoDb
DYNAMODB_ACCESS_KEY=
DYNAMODB_SECRET_KEY=
DYNAMODB_REGION=us-west-1

# S3
S3_KEY=
S3_SECRET=
S3_REGION=
S3_BUCKET=bucket
